@import url(./fonts.css);
/* root start */
:root {
    --body: #FFF6EF;
    --font-first: 'Comfortaa';
    --font-second: 'Montserrat';
    --font-third: 'Roboto';
    --header-bg: rgba(255, 226, 204, 0.8);
    --header-color: #040D1F;
    --link-hover: #ED8E00;
    --banner: rgba(80, 36, 0, 0.75);
    --title: #040D1F;
    --films-bg: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(159, 71, 0, 0.8) 100%);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--body);
    font-family: var(--font-first);
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #F18128;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;

    @media (width < 1200px) {
        max-width: 960px;
    }

    @media (width < 992px) {
        max-width: 720px;
    }

    @media (width < 768px) {
        max-width: 540px;
    }
}

.btn {
    max-width: 166px;
    width: 100%;
    padding: 16px;
    background: #F18128;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    font-family: var(--font-third);
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    transition: 0.5s;

    &:hover {
        background: #040D1F;
        color: #fff;
    }
}

.text-limit {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &:active {
        -webkit-line-clamp: unset;
    }
}

.title {
    font-size: 36px;
    font-weight: 400;
    color: var(--title);
    text-transform: capitalize;
    padding-top: 60px;
    padding-bottom: 48px;
    
    @media (width < 576px) {
        font-size: 30px;
    }
}

.title__link {
    border-bottom: 2px solid var(--title);
    padding-bottom: 4px;
}
/* root end */
/* ads start */
.ads {
    /* background: linear-gradient(50deg, rgba(255, 0, 0, 0.417) 20%, blue, green, yellow 80%); */
    background: linear-gradient(135deg, #3800af 0%, #bf7204 97.52%, #c27500 100%, #c27500 100%);
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: end;
    padding: 20px;
    gap: 24px;

    i {
        font-size: 50px;
        line-height: 40px;
    }

    span {
        max-width: 166px;
    }
}
/* ads end */
/* header start */
.header {
    backdrop-filter: blur(15px);
    background: var(--header-bg);
    color: var(--header-color);
    position: sticky;
    top: 0;
    z-index: 999;

    @media (width < 768px) { 
        padding: 15px 0;
    }
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 18px;

    @media (width < 768px) { 
        position: absolute;
        top: 100%;
        flex-direction: column;
        right: 20px;
        background: var(--header-bg);
        min-width: 200px;
        transform: scaleY(0);
        transition: 0.5s;
        transform-origin: 0 0;
    }
}

.header__link {
    font-family: var(--font-second);
    font-size: 14px;
    padding: 42px 6px;
    display: inline-block;
    transition: 0.5s;
    position: relative;

    &:hover {
        color: var(--link-hover);

        &::after {
            width: 100%;
            left: 0;
        }
    }

    &::after {
        content: '';
        background: var(--link-hover);
        height: 2px;
        width: 0%;
        border-radius: 10px 10px 0 0;
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transition: 0.5s;
    }

    @media (width < 768px) { 
        padding: 20px;
        width: 100%;
        text-align: center;
    }
}

.header__logo {
    font-size: 18px;
    font-weight: 700;
}

.header__burger {
    border: none;
    outline: none;
    background: #F18128;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    display: none;
    border-radius: 50%;

    @media (width < 768px) {
        display: inline-block;

        &:focus ~ .header__list {
            transform: scaleY(1);
        }
    }
}
/* header end */
/* banner start */
.banner__card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media (width < 450px) {
        text-align: center;
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;            
        }
    }
}

.banner {
    position: relative;
    height: 80vh;
}

.banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.banner__content {
    position: relative;
    background: var(--banner);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
        margin-right: 30px;
        @media (width < 450px) {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}

.banner__title {
    font-size: 36px;
    font-family: var(--font-second);
    margin-bottom: 22px;
}

.banner__desc {
    max-width: 570px;
    width: 100%;
    margin-bottom: 48px;
    font-family: var(--font-second);
    line-height: 24px;
    color: #C8C8C8;
    text-align: justify;

    &.text-limit {  
        -webkit-line-clamp: 4;
    }
}

.banner__card:last-of-type {
    animation: show;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
   
}

.banner:hover .banner__card:last-of-type {
    animation-play-state: paused;    
}

@keyframes show {
    0% { 
        opacity: 0; 
        z-index: -1;
    }
    40% { 
        opacity: 0; 
        z-index: -1;
    }
    60% { 
        opacity: 1; 
        z-index: 0;
    }
    100% { opacity: 1; }
}

/* banner end */
/* films start */
.films__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.films__card {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    
    &:hover {
        .icon {
            transform: scale(1.5) rotateX(180deg) translateY(-10px);
        }

        .films__time {
            transform: scale(0);
        }

        .films__img {
            transform: scale(1.5);
        }
    }
}

.films__content {
    position: relative;
    background: var(--films-bg);
    padding: 56px 15px 19px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-second);
    height: 100%;
}

.icon {
    font-size: 48px;
    transition: 0.5s;
}

.films__time {
    margin-top: 13px;
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid #fff;
    padding: 7px 28px;
    border-radius: 9px;
    text-align: center;
    font-size: 14px;
    line-height: 10px;
    transition: 0.5s;
}

.films__title {
    font-size: 22px;
    font-weight: 400;
    margin-top: 32px;
    text-align: center;
}

.films__desc {
    font-family: var(--font-third);
    font-size: 14px;
    line-height: 21px;
    margin-top: 13px;
    -webkit-line-clamp: 7;
}

.films {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media (width < 992px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (width < 576px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* films end */
/* premier start */
.premier {
    position: relative;
    margin-top: 71px;
}

.premier__video {
    position: absolute;
    right: 0;
    top: 0;
    width: 55%;
    height: 100%;
    object-fit: cover;

    @media (width < 768px) {
        width: 100%;
    }
}

.premier__content {
    position: relative;
    background: linear-gradient(90deg, #def7ff 0%, #f4fcff 45.31%, rgba(255, 255, 255, 0) 100%);
    color: #000;
    padding-top: 43px;
    padding-bottom: 80px;

    @media (width < 768px) {
        background: rgba(255, 255, 255, 0.7);
    }

    @media (width < 576px) {
        text-align: center;
        padding-bottom: 43px;
    }
}

.premier__img {
    max-width: 460px;
    width: 100%;
}

.premier__desc {
    padding-top: 50px;
    padding-bottom: 55px;
    font-family: var(--font-third);
    line-height: 27px;
    max-width: 558px;
    width: 100%;
    font-size: 18px;
    text-align: justify;

    @media (width < 576px) {
        text-align: center;
    }
}
/* premier end */
/* collection start */
.collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-auto-rows: 200px;

    @media (width < 992px) {
        grid-template-columns: repeat(3, 350px);
        overflow: auto;
        padding-bottom: 20px;
        scroll-snap-type: x mandatory;
    }

    @media (width < 576px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.collection__card {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    scroll-snap-align: center;

    &:hover {
        .collection__img {
            transform: scale(1.5);
        }

        .icon {
            transform: scale(1.5) rotateX(180deg);
        }

        .collection__content::after {
            transform: translateY(150%);
        }
        .collection__content::before {
            transform: translateY(-150%);
        }
    }    
}

.collection__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.collection__content {
    position: relative;
    background:  linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    height: 100%;
    display: grid;
    /* justify-content: center;
    align-content: center; */
    place-content: center ;
    /* justify-items: center;
    align-items: center; */
    place-items: center;
    gap: 16px;

    &::before, &::after {
        content: '';
        position: absolute;
        top: 8px;
        left: 7px;
        width: 20px;
        bottom: 7px;
        background: url(../img/collections/line.png) no-repeat center;
        transition: 0.5s;
    }

    &::after {
        left: auto;
        right: 7px;
    }
}

.colletion__title {
    font-size: 20px;
    padding: 0 34px;
    text-align: center;
}

/* collection end */
/* series start */
.series {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.series__card {
    position: relative;
    min-height: 190px;
    overflow: hidden;
    border-radius: 6px;

    @media (width < 992px) {
        grid-column: span 2;
    }

    @media (width < 450px) {
        grid-column: span 4;
    }

    &:nth-of-type(1) {
        grid-column: span 4;
        min-height: 450px;

        .series__title {
            font-size: 40px;
            @media (width < 576px) {
                font-size: 30px;
            }
        }
    }
    &:nth-of-type(2) {
        grid-column: span 2;
        grid-row: span 2;

        @media (width < 768px) {
            grid-column: span 4;
        }
    }

    &:hover {
        .series__img {
            transform: scale(1.5);
        }

        .icon {
            transform: scale(1.2) rotateX(180deg) translateY(10px);
        }
    }
}

.series__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.series__content {
    position: relative;
    display: grid;
    place-content: center;
    place-items: center;
    background: linear-gradient(135deg, rgba(35, 35, 35, 0.8) 0%, rgba(4, 13, 31, 0.6) 100%);
    height: 100%;
    padding: 15px;
    text-align: center;
    gap: 20px;
}

.series__title {
    font-size: 24px;
    @media (width < 576px) {
        font-size: 20px;
        -webkit-line-clamp: unset;
    }
}

.series__desc {
    line-height: 24px;
    -webkit-line-clamp: 4;
    margin: 10px 0;
}
/* series end */
/* footer start */
.footer {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
    background: linear-gradient(90deg, #ff8c30 0%, #9f4700 100%);
    padding: 24px 0;
    margin-top: 51px;

    .container {
        display: flex;
        gap: 25px 50px;
        align-items: center;
        flex-wrap: wrap;

        @media (width < 768px) {
            justify-content: center;
        }
    }
}

.footer__desc {
    margin-left: auto;
    font-weight: 700;
    font-size: 18px;
    text-align: center;

    @media (width < 768px) {
        margin-left: 0;
        font-size: 14px;
    }
}

/* footer end */